@page "/predict"
<PageTitle>Predict</PageTitle>

 <div class="row">
        
        <div class="col s12">
            <ul class="tabs" id="tabs1">
                <li id="tab1" class="tab col s3"><a id="defaultTab" target="predictframe" href='/classifier'>LC/LU App</a></li>
                <li class="tab col s3"><a target="predictframe" href="/lu1_lucas_2018_classifier.html">Classifier Example</a></li>
            <li class="tab col s2 "><a target="predictframe" href="/lucas_2018_regression.html">Regression Example</a></li>
            <li class="tab col s2 "><a target="predictframe" href="/eukaryotes_sequence_embeddings.html">Eukaryotes Example</a></li>
            <li class="tab col s2 "><a target="predictframe" href="/prokaryote_sequence_embeddings.html">Prokaryote Example</a></li>
                @*<li class="tab col s3"><a target="predictframe" href="./team">Sequence Classifier</a></li>  *@
            </ul>
        </div>

        <iframe src="" frameborder="0" class="predictframe" id="predictframe" name="predictframe">
        </iframe>

    </div>

@code {
    [Inject]
    public IJSRuntime? JsRuntime { get; set; }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime!.InvokeVoidAsync("initSideNav");
            await JsRuntime!.InvokeVoidAsync("initPredictTabs");
        }
    }
}
