@page "/team"

<div class="teamheader center-align">Meet Our Awesome Team</div>
    <div class="teamsubheader center-align">Experiencing Colloboration, Innovation, Openness, Promptness and Hands-on </div>

    <div class="teamcontainer container">
        <blockquote class="teamquote">
            We as a team <span class="localboldtxt">appreciate the opportunity</span> for participating in this awesome hackathon. We <span class="localboldtxt">started in different inactive teams,</span> but our passion to contribute transformed us into a full functional team as soon as we were introduced. Although we started late, we setup our collaboration platform and started contributing with <span class="localboldtxt">clear roles and responsibilities</span>. <span class="localboldtxt">A time zone difference of eight hours did not deter in anyway</span>.
        </blockquote>
        <div class="teamrow row">
            <div class="teamitem col s12 m6">
                <div class="container">
                    <img class="responsive-img circle center-align teammemberimg" src="./images/team/vijaya.jpeg">
                    <div class="teammembername center-align">Vijaya Sekhar Gullapalli</div>
                    <div class="teammemberrole center-align">Contributor</div>
                    <div class="teamsocial center-align">
                        <a href="https://www.linkedin.com/in/dr-vijaya-sekhar-gullapalli-80b2111b"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="https://github.com/sekhargullapalli"><i class="fa-brands fa-github"></i></a>
                    </div>
                    <div class="teammemberdesc">
                        Seasoned developer with interests in Cloud, Mathematical Modelng, Algorithms, Clean Architecture, AI, IIOT, Electronics and Product Development.
                    </div>
                </div>
            </div>
            <div class="teamitem col s12 m6">
                <div class="container">
                <img class="responsive-img circle center-align teammemberimg" src="./images/team/alfaxad2.png">
                    <div class="teammembername center-align">Alfaxad Eyembe</div>
                    <div class="teammemberrole center-align">Contributor</div>
                    <div class="teamsocial center-align">
                        <a href="https://www.linkedin.com/in/alfaxad-eyembe-b29a45162/"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="https://alfaxad.github.io/"><i class="fa-brands fa-github"></i></a>
                    </div>
                    <div class="teammemberdesc">
                        Studying mechanical & electrical systems engineering at KUAS, Japan. I focus on robotics, AI and Quantum computing .
                    </div>
                </div>
            </div>
        </div>
    </div>

@code {

}
