@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

:root {
    --main-bg: white;
    --nav-bg: #012E40;
    --high-contrast-col1: #F5AD45;
    --txtcol1: #025959
}

.chatheader {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8em;
    margin-top: 20px;
    color: var(--txtcol1);
    font-weight: bold;
}

.chatsubheader {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    margin-top: 5px;
    color: darkgrey;
    font-weight: bold;
}

.chatcontainer {
    margin-top: 30px;
    max-width: 600px;
    max-height: 60vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.chatimage {
    width: 64px;
    margin-right: 10px;
}

.chatid {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    margin-top: 2px;
    margin-bottom: 5px;
    color: var(--txtcol1);
    font-weight: bold;
}

.chatmessage {
    font-size: 1.2em !important;
    white-space: pre-wrap;
}

.questioncontainer {
    position: fixed;
    text-align: center;
    bottom: 100px;
    width: 100%;
    min-height: 50px;
    color: #F5AD45;

}

@media (min-width:641px) {
    .questioncontainer {
        transform: translate(25%, 0%);
    }    
}

.chatplaceholder {
    min-height: 50px;
}
